$lienzo : 700px;
$g1 : 392px;
$g2 : 517px;
$g3 : 455px;
$g4 : 582px;
$morado : 152px;
$cverde : $morado;
$centro :250px;
$fondo: 392px;
$boton: 250px;
//--m es mitad, g define las imagens , px define posicion equis------------
$mitadLienzo : $lienzo/2;
//--------------
$mg1 : $g1/2;
$pxg1 : $mitadLienzo - $mg1;
//--------------
$mg2 : $g2/2;
$mg2_crypto : $mg2 - 7;
$pxg2 : $mitadLienzo - $mg2;
//--------------
$mg3 : $g3/2;
$pxg3 : $mitadLienzo - $mg3;
//--------------
$mg4 : $g4/2;
$pxg4 : $mitadLienzo - $mg4;
//--------------
$mmorado : $morado/2;
$pxmorado : $mitadLienzo - $mmorado;
//--------------
$mcverde : $cverde/2;
$pxcverde : $mitadLienzo - $mcverde;
//--------------
$mcentro : $centro/2;
$pxcentro : $mitadLienzo - $mcentro;
//--------------
$mfondo : $fondo/2;
$pxfondo : $mitadLienzo - $mfondo;

//-------------posiciones de giro AZUL
$azul_posicion1:180deg;
$azul_posicion2: 142deg;
$azul_posicion3 : 225deg;

//-------------posiciones de giro Verde
$esmeralda_posicion1:0deg;
$esmeralda_posicion2: 35deg+360;
$esmeralda_posicion3 : -45deg;
$esmeralda_posicion4: -45deg;
$esmeralda_posicion5: 45deg+180+45+45;

$duracion-azul  : 2s;

//-------------posiciones de cuadro MORADO
$cuadro-morado-posicion2 : 35%;
$cuadro-morado-posicion1 : $pxmorado - ($pxmorado/4);

//-------------posiciones de cuadro VERDE
$cuadro-verde-posicion2 : -35%;
$cuadro-verde-posicion1 :   ($pxcverde/4) - $pxcverde;

//------------posiciones de texto CRYPTO TRADING
$crypto-posicion-1 : 0 ;
$crypto-posicion-2 : -$mg2_crypto;

//------------posiciones de texto FOREX
$forex-posicion-1 : 0 ;
$forex-posicion-2 : $mg1;

.containerProfits{
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        color: $dark-gray ;
        position: absolute;
        bottom: 0;
        margin-bottom: -20%;
        background: white;
        text-align: justify;
        width:$lienzo;
        padding: 60px;
        
    }

    .ganancias-crypto{
        color: white;
        position: absolute;
        background: $terciary-color;
        padding: 1rem 1rem;
        transform:translate(0, $crypto-posicion-1);
        border-radius: 50%;
        
        opacity: 0;        
    }

    .ganancias-crypto-animado{
        animation-name: crypto;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    .ganancias-forex{
        color: white;
        position: absolute;
        background: $cuaternary-color ;
        padding: 1rem 2rem;
        transform:translate(0, $forex-posicion-1);
        border-radius: 50%;
        z-index: 1000;
        
        opacity: 0;       
        
    }
    .ganancias-forex-animado{
        animation-name: forex;
        animation-duration: 3s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
   
}

.circulos{      

    position: relative;
    color: white;
    //border: 1px solid $gris-claro;
    width: $lienzo;
    height: $lienzo;    

    .cmorado{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: $morado;
        height: $morado;
        border-radius: 50%;
        border: 1px solid $primary-color;
        background: white ;   
        color: $primary-color;     
        transform: translate($cuadro-morado-posicion1 , $pxmorado);

        
        
          
    }
    .cmorado-animado{
        animation-name: cuadro-morado;
        animation-duration: 1.2s;      
        animation-timing-function: cubic-bezier(.92,0,.16,.99);
        animation-fill-mode: forwards; 
        
    }

    .cmorado-hover{
        animation-name: cuadro-sobre;
        animation-duration: 1.2s;  
        animation-direction: alternate;
    }
    .cmorado-fin{
        transform: translate($cuadro-morado-posicion2 , $pxmorado) rotate(720deg);
    }
    
    

    .cverde{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: $morado;
        height: $morado;
        right: 0;
        border-radius: 50%;
        border: 1px solid $secondary-color;
        background: white ;
        color: $secondary-color;       
        transform: translate($cuadro-verde-posicion1 , $pxcverde);

        
    }
    .cverde-animado{
        animation-name: cuadro-verde;
        animation-delay: 1s;
        animation-duration: 3s;        
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    

}
.grises{
    position: relative;
    
    .gris1 , .gris2{
        border: 5px solid $gris-claro;
        border-radius: 50%;
        position: absolute;
        

        
    }
    .gris1{
        
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
        width: $g1;
        height: $g1;               
        transform: translate( $pxg1,  $pxg1) ;        
        transition: 1s all; 
       
       
    }

    .gris1-animado{
        animation-name: gris1;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    

    .gris2 {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: black;    
        width: $g2;
        height: $g2;        
        transform:translate($pxg2,$pxg2);

        transition: 1s all; 
    }

    .gris2-animado{
        animation-name: gris2;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: .5s;
    }

}


.contenedor-esmeralda{
    position: absolute;
    width: $g3;
    height: $g3;
    //border: 1px solid red;
    transform: translate($pxg3,$pxg3) rotate(0);

    .esmeralda{
        position: absolute; 
        transform: rotate($esmeralda_posicion1) scale(.65);
        
    }
    .esmeralda-animado{
        animation-name: esmeralda;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        animation-duration: 1.5s;
        animation-delay: 2s;
    }

    .esmeralda-hover{
        animation-name: esmeralda-hover;
        animation-direction: normal;
        animation-timing-function: ease-in-out;
        animation-duration: 1.5s;
        animation-delay: -1s;        
        animation-iteration-count: 5; 
        
        transform: rotate($esmeralda_posicion4) scale(1);
    }

    .esmeralda-fin{
        transform: rotate($esmeralda_posicion3) scale(1);
    }
    
    
}


.contenedor-azul{
    transform-origin: 50% 50%;
    
    position: absolute;
    width: $g4;
    height: $g4;
    //border: 1px solid rgb(51, 255, 0);
    transform: translate($pxg4,$pxg4) rotate(0deg) scale(1);
    

    .azul{
        position: absolute;        
        transform: rotate($azul_posicion1) scale(.5);
        transition: 1s all;
        z-index: 40;       
    }    
    .azul-animado{
        animation-name: azul;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        animation-delay: 1s;
        animation-duration: $duracion-azul;
        //animation-delay: ;
    }
    .azul-hover{
        
        animation-name: azul-hover;        
        animation-timing-function: ease-in;
        animation-direction: alternate-reverse;
        animation-iteration-count: 5;       
        animation-duration: 1s;
        animation-delay: -1s;
        transform: rotate($azul_posicion3) scale(1);
    }
    .azul-fin{
        transform: rotate($azul_posicion3) scale(1);
    }
   
}

.contenedor-centro{
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 50%;
    
    position: absolute;
    
  
    
    .centro{
        position: absolute;
        //transform: translate($pxcentro,$pxcentro) rotate(0) ;
    }
    
}

.centro.imagen{
    position: absolute;
    transform: translate($pxfondo,$pxfondo) rotate(0) ;
}

.boton{
    width: $boton;
}
//---------------------------------------
@keyframes cuadro-morado{
    0%{
        transform: translate($cuadro-morado-posicion1 , $pxmorado) rotate(0);
    }
    100%{
        transform: translate($cuadro-morado-posicion2 , $pxmorado) rotate(720deg);
    } 
}

@keyframes cuadro-sobre{
    from{
        transform: translate($cuadro-morado-posicion2 , $pxmorado) rotate(720deg);
    }
    to{
        transform: translate($cuadro-morado-posicion2 , $pxmorado) rotate(-720deg);
    }
}
//---------
@keyframes cuadro-verde{
    0%{
        transform: translate($cuadro-verde-posicion1 , $pxcverde) ;
    }
    40%{
        transform: translate($cuadro-verde-posicion2 , $pxcverde) scale(1);
    } 
    50%{
        transform: translate($cuadro-verde-posicion2 , $pxcverde) scale(1);
    }
    60%{
        transform: translate($cuadro-verde-posicion2 , $pxcverde) scale(1.2);
    }
    70%{
        transform: translate($cuadro-verde-posicion2 , $pxcverde) scale(1);
    }
    80%{
        transform: translate($cuadro-verde-posicion2 , $pxcverde) scale(1.3);
    }
    90%{
        transform: translate($cuadro-verde-posicion2 , $pxcverde) scale(1.05);
    }
    100%{
        transform: translate($cuadro-verde-posicion2 , $pxcverde) scale(1);
    }


}


//---------------------------------------

//esmeralda
$esmeralda_posicion1-1: $esmeralda_posicion2 - 100;
@keyframes esmeralda{
    0%{
        transform: rotate($esmeralda_posicion1) scale(.65);
    }
    40%{
        transform: rotate($esmeralda_posicion2) scale(1);
    }
    60%{
        transform: rotate($esmeralda_posicion2) scale(1);
    }
    100%{
        transform: rotate($esmeralda_posicion3) scale(1);
    }
    
    
}
@keyframes esmeralda-hover{
    0%{
        transform: rotate($esmeralda_posicion4) scale(1);
    }
    100%{
        transform: rotate($esmeralda_posicion5) scale(1);
    }

}



//azul
$azul_posicion1-1: $azul_posicion2 - 100;
@keyframes azul{
    0%{
        transform: rotate($azul-posicion1) scale(.65);
    }
    40%{
        transform: rotate($azul_posicion2) scale(1);
    }
    60%{
        transform: rotate($azul_posicion2) scale(1);
    }
    100%{
        transform: rotate($azul_posicion3) scale(1);
    }
    
    
}


@keyframes azul-hover{   
    
    0%{
        transform: rotate($azul_posicion3) scale(1);
    }
    100%{
        transform: rotate($azul_posicion2) scale(1);
    }
}

@keyframes crypto{
    0%{
        opacity: 0;
        transform:translate(0, $crypto-posicion-1);
    }
    100%{
        opacity: 100;
        transform:translate(0, $crypto-posicion-2);
    }
}

@keyframes forex{
    0%{
        opacity: 0;
        transform:translate(0, $forex-posicion-1);
    }
    90%{
        opacity: 0;
        transform:translate(0, $forex-posicion-2);
    }
    100%{
        opacity: 100;
        transform:translate(0, $forex-posicion-2);
    }
}

@keyframes gris1{
    0%{
        transform: translate( $pxg1,  $pxg1) scale(.2);
    }
    30%{
        transform: translate( $pxg1,  $pxg1) scale(1.3);
    }
    100%{
        transform: translate( $pxg1,  $pxg1) scale(1);
    }
}

@keyframes gris2{
    0%{
        transform: translate( $pxg2,  $pxg2) scale(.2);
    }
    30%{
        transform: translate( $pxg2,  $pxg2) scale(1.3);
    }
    100%{
        transform: translate( $pxg2,  $pxg2) scale(1);
    }
}