.containerProfits{
        margin-top: 60px;
        h1{
        text-align: center;
        
        }
        .circular-azul{
                border-radius: 50%;
                width:40rem;
                height: 40rem;
                margin: auto;
                background: linear-gradient(100deg, $terciary-color 50%, rgba($terciary-color , .2) 50%);
                position: relative;
               
                &:before{
                content: '';
                border-radius: 50%;
                width:40rem;
                height: 40rem;
                position: absolute;
                top: 0;
                left: 0;
                background: white content-box;
                padding: 2em;
                box-sizing: border-box;
                font-size: 2rem;

                }

                &:after{
                content: '';
                width: 40rem;
                height: 40rem;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                background: linear-gradient(transparent 50% , white 50%);
                transform: scale(1.1);
                
                
                }
                
        }
}






// .containerProfits{
// margin-top: 60px;
// justify-content: center;
// position: relative;
// height: 600px;  
// margin: auto;
// background: rgb(219, 162, 162);
// width: 600px;
// // justify-content: center;
// // align-items: center;

//         .Azul{  
//         position: absolute;
//         transform-origin: center;
//         top: 0;
//         transform: rotate(0deg)
//         }
//         .Esmeralda{  
//         position: absolute;
//         transform: rotate(0deg);
//         }

    
  
// }