
.justify-content-center{
    justify-content: center;
}

.list-check{
    li:before {  
    content: " "!important;
    background-image: url(../img/ico/check.png);
    width: 16px;
    height: 11px;
    margin-top: 4px;
        } 
}

// BLOQUE DE BLOCKCHAIN

@media only screen and (min-width: 768px)
					{
						.section--custom-01 .img-wrap
						{
							position: absolute;
							top: 0;
							left: 15px;
							right: 0;
							bottom: 0;
							margin-left: 42%;
							overflow: hidden;
						}
					}

					@media only screen and (min-width: 992px)
					{
						.section--custom-01 .__content { margin-bottom: 90px; }

						.section--custom-01 .img-wrap { margin-left: 45%; }
                    }

.content_center_title{
	margin: auto;
	max-width: 600px;
	text-align: center;
	text-align: center;
    justify-content: center;
}

.section--custom-01{
	background-image: url("../img/bg_2.jpg");
	background-position: top;
	background-size: cover;
}
.cuadros_features{
	.lazy{
		height: 60px;
	}
	
}
.cuadro_blockchain , .cuadro_bitcoin , .cuadro_mining{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.cuadro_blockchain{
	background-image:url("../img/cuadro_blockchain.jpg");	
}
.cuadro_bitcoin{
	background-image:url("../img/background_bitcoin.jpg");
	}
.cuadro_mining{
	background-image:url("../img/bg_mining.jpg");
}

/*bloque video*/

.__play-btn{
	background-color: #fc6666!important;
}

.video-container{
	margin-top: 0;
}

