
.justify-content-center{
    justify-content: center;
}

.list-check{
    li:before {  
    content: " "!important;
    background-image: url(../img/ico/check.png);
    width: 16px;
    height: 11px;
    margin-top: 4px;
        } 
}

//---------------

.bg_chart_gray{
	background-image: url("../img/bg_chart_gray@2x.png");
	background-position: right bottom;
	background-repeat: no-repeat;
}

.bg_gradient_gray{
	background-image: linear-gradient(#F5F5F5, #FFFFFF);
}

// -----------------------BLOQUE DE BLOCKCHAIN
.__item {
    min-height: 476px;
}


.section--custom-01{
	background-image: url("../img/bg_2.jpg");
	background-position: top;
	background-size: cover;
}
.cuadros_features{
	.lazy{
		height: 60px;
	}
	
}
.cuadro_blockchain , .cuadro_bitcoin , .cuadro_mining{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.cuadro_1{
	background-image:url("../img/cuadro_blockchain.jpg");	
}
.cuadro_2{
	background-image:url("../img/background_bitcoin.jpg");
	}
.cuadro_3{
	background-image:url("../img/bg_mining.jpg");
}
.cuadro_4{
	background-image:url("../img/bg_8.jpg");
}
.cuadro_5{
	background-image:url("../img/bg_20.jpg");
}

/*-------------------------------bloque video*/

.__play-btn{
	background-color: #fc6666!important;
}

.video-container{
	margin-top: 0;
}

/*bloque IT ACADEMY*/

.section--base-bg{
	color: white;
	.__subtitle , .__title{
		color: white;
	}
}

.bg_itacademy{
	background: darken($primary-color , 10 );
	background-image: linear-gradient(to right, darken($primary-color , 10 ) , $primary-color );
	background-image: url("../img/bg_itacademy@2x.png");
	background-position: right;
	background-repeat: no-repeat;
	//background-size: ;
}

/*bloque footer*/

.icono{
	&:hover{
		opacity: .5;
	}
}

