
.justify-content-center{
    justify-content: center;
}

.list-check{
    li:before {  
    content: " "!important;
    background-image: url(../img/ico/check.png);
    width: 16px;
    height: 11px;
    margin-top: 4px;
        } 
}

// BLOQUE DE BLOCKCHAIN

@media only screen and (min-width: 768px)
					{
						.section--custom-01 .img-wrap
						{
							position: absolute;
							top: 0;
							left: 15px;
							right: 0;
							bottom: 0;
							margin-left: 42%;
							overflow: hidden;
						}
					}

					@media only screen and (min-width: 992px)
					{
						.section--custom-01 .__content { margin-bottom: 90px; }

						.section--custom-01 .img-wrap { margin-left: 45%; }
                    }
